<!-- Footer -->
<footer class="navbar navbar-default navbar-fixed-bottom">

  <!-- Copyright -->
  <div class="container footer-copyright text-center py-3">
  	<%= t('.copyright', :year => Time.now.year,:site_name => Refinery::Core.site_name) %>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
